{% extends "base.html" %}

{% block content %}
<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h1>Acerca de</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae error eveniet mollitia sit et, quidem officia nisi, deleniti praesentium quisquam consequuntur, nostrum eaque facilis accusantium laboriosam voluptate quo quos quia?</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae error eveniet mollitia sit et, quidem officia nisi, deleniti praesentium quisquam consequuntur, nostrum eaque facilis accusantium laboriosam voluptate quo quos quia?</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae error eveniet mollitia sit et, quidem officia nisi, deleniti praesentium quisquam consequuntur, nostrum eaque facilis accusantium laboriosam voluptate quo quos quia?</p>
		</div>
	</div>	

{% endblock %}