

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>{% block head_title %}Static Top Navbar Example for Bootstrap {% endblock %}</title>

  {% include 'head_css.html' %}
  <style>
    {% block style %}
    {% endblock %}
  </style>
</head>

<body>

  
  {% include 'navbar.html' %}
  <!-- El Jumbotrón aquí con la clase container dentro de él (en donde se herada), abarca toda la pantalla (el color)
      y su contenido queda centrado !IMPORTANTE! debe tener un div con la clase container dentro el jumbotron
      div.jumbotron>div.container>p.lead{texto}+button.btn-default{presioname} Ejemplo en emmet-->
      {% block jumbotron %}
      <!-- <div class="jumbotron">
        <div class="container">
          <p class="lead">texto</p>
          <button class="btn-default">presioname</button>
        </div>
      </div> -->
      {% endblock %}
      <div class="container">
    <!-- {% block jumabotron %}
    {% endblock %} -->  <!--El jumbotrón aquí quedaría centrado -->
    {% block content %}
    {% endblock %}

  </div> <!-- /container -->


  {% include 'javascript.html' %}
</body>
</html>
